<div class="modal" id="modal-form">
  <div class="modal__box modal__box_default">
    <div class="modal__header">
      <p class="modal__title">Забронировать место</p>
      <button class="modal__close" data-close="modal">&times;</button>
    </div>
    <div class="modal__body">
      Form
    </div>
  </div>
</div>