<footer class="footer">
  <div class="container">
    <div class="row footer__row">
      <div class="footer__social">
        <p class="footer__social-title">Присоединяйтесь к нам в соц.сетях: </p>
        <ul class="social">
          <li class="social__item"><a class="social__link social__link_fb" href="https://www.facebook.com/nataliashevela.grono"></a></li>
          <li class="social__item"><a class="social__link social__link_instagram" href="https://www.instagram.com/grono.team/?igshid=1gpope4l705gb"></a></li>
          <li class="social__item"><a class="social__link social__link_youtube" href="https://www.youtube.com/channel/UCRGYNea9omEIx07RKWzon7w"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="modal" id="modal-form">
  <div class="modal__box modal__box_default">
    <div class="modal__header">
      <p class="modal__title">Забронировать место</p>
      <button class="modal__close" data-close="modal">&times;</button>
    </div>
    <div class="modal__body">
      Form
    </div>
  </div>
</div>