.successful
  &__header
    +ta(left)

  &-item
    +max(sm)
      +mb(15px)

    &_1
      +min(sm)
        +pl(30px)
    &_3
      +min(sm)
        +pl(45px)
    &__inner
      +r()
      +d(flex)
      +ai(center)
      +max(sm)
        +jc(center)
      &:before
        content: ''
        +a(50%, null, null, 0)
        +size(200px, 75px)
        +bgc(#e2eaf0)
        z-index: -1
        clip-path: polygon(0 0, 100% 0, 85% 100%, 15% 100%)
        transform: rotate(-15deg) translateY(-50%)
        +max(sm)
          left: 50%
          margin-left: -75px
        +min(md)
          +size(450px, 100px)
      +min(sm)

    &__image
      +size(110px)
      object-fit: contain
      +min(sm)
        +size(150px)
        +mr(30px)
    &__title
      +ff('bl')
      +c($color-brand-2)
      +tt(uppercase)
    &__text
      +fs(12px)
      +min(sm)
        +fs(14px)