.wait
  &-item
    +max(sm)
      &:not(:last-child)
        +mb(30px)
    +min(sm)
      +ai(center)
      &:nth-child(odd)
        flex-direction: row-reverse

    &__image
      max-width: 200px
      &-wrapper
        +max(sm)
          +mb(15px)
          +ta(center)
      +min(sm)
        max-width: 80%

    &__list
      +min(sm)
        +w(80%)
      +min(md)
        +w(70%)
      li
        &:nth-child(even)
          +ff('b')
  &__skew
    &_1
      +t(0)
      +l(-10%)
      opacity: 0.4
    &_2
      +t(5%)
      right: 2%
    &_3
      +t(45%)
      +l(30%)
    &_4
      +b(0)
      right: 0
      opacity: 0.5
      +min(sm)
        +w(350px)