=navAddition2()
	.nav__addition
		font-size: 0

		+max(md)
			+a(100%, null, null, 0)
			padding: 5px 0 5px 15px
			+w(100%)
			background-color: darken($color-responsive-menu, 10%)
			overflow: hidden

		+min(md)
			text-align: right

		&-links
			+max(md)
				overflow: auto
				white-space: nowrap

		&-link
			+d('inline-block')
			+mr(15px)
			text-decoration: none
			+c($color-white)
			+fs(14px)

			+min(md)
				+d('block')
				+mr(0)
				+c($color-black)
				+fs(18px)