.nav__logo
	font-size: 0

	+max(md)
		+d('flex')
		align-items: center

	+min(md)
		+mb(-45px)

	&-content
		display: inline-block

	&-item
		display: inline-flex
		align-items: center
		justify-content: center
		+size(45px)
		+bgc($color-white)
		border-radius: 100%
		text-align: center

		+max(md)
			+mb(-25px)

		+min(md)
			+size(80px)
	
	&-img
		vertical-align: middle
		object-fit: contain
		+size(30px)
		+min(md)
			+size(60px)