{% import 'macros/landing.twig' as landing %}
<section class="section possibility">
    <div class="container">
        <div class="possibility__content">
            <div class="possibility__content-inner">
                    <p>Сетевой бизнес принято считать одной из лучших возможностей для <strong>быстрого безрискового финансового взлета</strong>. Вы начинаете работу с готовым, качественным продуктом, зарекомендовавшим себя
                    на рынке. Более того: вас поддерживает и направляет сильная компания с хорошей репутацией.</p>
                <p>Но на практике оказывается, что в нем, как и в любом бизнесе, есть <strong>ряд специфических сложностей</strong>: трудно выстроить хорошие отношения с командой, куча сил сливаются впустую, крутитесь, как белка в колесе,
                    а результата нет.</p>
            </div>
        </div>
    </div>
</section>