{% import 'macros/landing.twig' as landing %}
<section class="section registration">
    {{ landing.skew('1', 'registration__skew registration__skew_1') }}
    {{ landing.skew('2', 'registration__skew registration__skew_2') }}
    {{ landing.skew('4', 'registration__skew registration__skew_3') }}
    <div class="container registration__container">
        <div class="row registration__row">
            <div class="col-12 col-sm-6 col-md-8">
                <p class="registration__title">Регистрируйтесь —<br>
                    и докажите, что успех<br>
                    в сетевом бизнесе<br>
                    это не УДАЧА, а ВАША<br>
                    <span class="color-brand-2">грамотная стратегия!</span></p>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="registration__form">
                    <p class="registration__form-title">регистрация</p>
                </div>
            </div>
        </div>
    </div>
</section>